/* .bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
}
.text-transparent {
  color: transparent;
}
.text-thick {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000;
} */
